body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #cfd6cf;
}

.logo {
    width:70px; /* you can use % */
    height: auto;
    margin-right:1.5em;
}
.site-header .navbar-nav .nav-link {
  color: #d9570b;
  font-size: 1.3em;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.text{
  padding:1em;
  font-size:0.5em;
  font-family:"Arial";
  line-height: 17pt;
  color:black;
}

h1{
  margin: 0.5em;
  font-style: serif;
  font-family: "Times New Roman", Times, serif;
  color:#160e29;
}
h2{
  margin:1em;
  font-family: "Times New Roman", Times, serif;
  color:#160e29;
}
h4{
  margin-top:1em;
  font-family: "Times New Roman", Times, serif;
  color:#160e29;
}
.main-cont{
  padding:3em;
  width:55%;
  margin:auto;
}
.article-title {
  margin: 2em;
  color: #444444;
}

.account-number{
  color : rgb(41, 12, 115);
  font-weight: bold;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
