{% extends "banksite/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<h2> Wyślij nowy przelew</h2>
		<div class="content-section">
			<form method="POST" name="transfer">
				<fieldset class="form-group">
					{{ form|crispy }}
				</fieldset>
				<input type="hidden" name="confirmation" value="false"/>
				<div class="form-group">
	      	<button id="submit_button" class="btn btn-outline-info" type="submit">Make transfer</button>
	     	</div>
			</form>
		</div>
{% endblock content %}
